# Docker compose
POSTGRES_DB=keycloak
POSTGRES_USER=user
POSTGRES_PASSWORD=
PORT=8080

# keycloak build
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

# keycloak run envs
KC_DB=postgres
KC_DB_SCHEMA=public
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=user
KC_DB_PASSWORD=
KC_PROXY=edge
KC_HTTP_PORT=8080
KC_CACHE=local
KC_SPI_THEME_WELCOME_THEME=tchap-otp-login
# KC_ ... see https://www.keycloak.org/server/all-config

#Tchap identity account details (to invoke API)
TCHAP_HOME_SERVER_LIST=i.tchap.gouv.fr,e.tchap.gouv.fr
TCHAP_MATRIX_ID=@tchap-identite-tchap.beta.gouv.fr:i.tchap.gouv.fr
TCHAP_SKIP_CERTIFICATE_VALIDATION=false
TCHAP_UNAUTHORIZED_HOME_SERVER_LIST=e.tchap.gouv.fr
TCHAP_LOG_SENSITIVE_DATA=true

TCHAP_OTP_MAIL_DELAY_IN_MINUTES=0
TCHAP_CODE_TIMEOUT_IN_MINUTES=60
#TCHAP_HOME_REDIRECT_URL=https://audioconf.numerique.gouv.fr/questions-frequentes#qui-peut-avoir-acces
TCHAP_HOME_REDIRECT_URL=/admin

#TEST
TEST_BOT_TO_USER_MID=@xxx.yyy-beta.gouv.fr:i.tchap.gouv.fr
TEST_DELETE_ROOM_AFTER_TESTS=true

FEATURE_TCHAP_BOT_OTP=false
